.project {
  grid-column: side-start / cont-end;

  /* TAGS */

  &__tag {
    @include basicLayout;
  }

  /* CARDS */

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__card {
    @include basicLayout;
    flex: 0 0 30%;
    padding: 1.8rem 1.8rem 3.3rem 1.8rem;
    display: flex;
    flex-direction: column;
  }

  &__img {
    @include widthBorder;
    height: 20rem;
    object-fit: cover;
    object-position: top;
    border: 1px solid var(--color-green);

    @media only screen and (max-width: $bp-medium) {
      height: 30rem;
    }
  }

  &__tags {
    margin: 2rem 0;

    & > * {
      margin-right: 1rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      justify-content: flex-start;

      & > * {
        margin-right: 2rem;
      }
    }
  }

  &__page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3.5rem;

    & > * {
      margin-left: 1rem;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
